# R session
.Rhistory
.RData
.Ruserdata
.Rproj.user
*.Rproj

# R build / check
*.tar.gz
*.Rcheck/

# Test outputs
*.Rout
*.Rout.fail

# Temp
*.log
*.aux
*.out
*.toc
tmp/

# Editors
.DS_Store
.vscode/
.idea/

# Dev outputs
dev/*/outputs/

# Containers
*.sif
*.tar
