# R session files
.Rhistory
.RData
.Rproj.user
.Ruserdata
*.Rproj

# R CMD build and check
Gfreq_*.tar.gz
*.Rcheck/
..Rcheck/

# Temp files
*.log
*.aux
*.out
*.toc
tmp/

# OS / editor
.DS_Store
.vscode/
.idea/

# Dev folders
dev/*/outputs/

# Container
*.sif
mip-poolfreq.tar
